spring:
  application:
    name: config-server
    
  cloud:
    bus:
      enabled: true
      refresh:
        enabled: true
    config:
      server:
        git:
          uri: https://github.com/gautam-sol-arch/config-server.git
          username: ${GIT_USERNAME:gautam-sol-arch}
          password: ${GIT_TOKEN:}
          search-paths: '{application}'
          clone-on-start: true
          default-label: main
          force-pull: true
          skip-ssl-validation: true
        health:
          repositories:
            config-repo:
              label: main
              name: config-repo
              profiles: development
              
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: admin
    password: admin

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      
server:
  port: 8888
  
logging:
  level:
    org.springframework.cloud.config: DEBUG
    org.springframework.cloud.bus: DEBUG
