spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/gautam-sol-arch/config-server.git
          username: ${GIT_USERNAME:gautam-sol-arch}
          password: ${GIT_TOKEN:}
          search-paths: '{application}'
          clone-on-start: true
          default-label: main
          force-pull: true
          skip-ssl-validation: true

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
